@import 'tailwindcss';
@plugin './hero.ts';

@source '../**/*.{js,ts,jsx,tsx}';
@source '../../../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

html, body, #root {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

[data-overlay-container='true'] {
    padding: 10px;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
}

.drag-region {
    -webkit-app-region: drag;
}

.no-drag {
    -webkit-app-region: no-drag;
}

.drag-region button,
.drag-region [role='button'],
.drag-region a,
.drag-region input,
.drag-region textarea,
.drag-region select,
.drag-region .no-drag {
    -webkit-app-region: no-drag;
}