@import 'tailwindcss';
@plugin './hero.ts';

@source '../**/*.{js,ts,jsx,tsx}';
@source '../../../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

html, body, #root {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
}